site_name: Documentation of MLOps-Molecules Project
site_author: Boldizsár Horváth, Kasper van der Horst, Przemek Kaleta
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true
nav:
  - Home: index.md
  - API Reference:
      - Model: model.md
      - Inference: my_api.md
      - Data & IO: data.md
      - Training Pipeline: training.md
      - Utilities & Visualization: utilities.md
